{% extends "admin/base.html" %}
{% load admin_static %}

{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}

{% block blockbots %}
  {# https://github.com/elky/django-flat-responsive#important-note #}
  {{ block.super }}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
{% endblock %}

{% block title %}{{ title }} | Knowlarity API Demo{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Knowlarity API Demo Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
