{% load raven %}
{% load staticfiles i18n %}<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Knowlarity POC Demo</title>
	<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">

	<link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css'>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">




</head>

<body>


	<h1 class="title">Knowlarity Customer Support</h1>
	<div class="wrapper">
		<nav id="nav" class="nav">
			<div class="default-nav">
				<div class="main-nav">
					<div class="toggle"></div>
					<div class="main-nav-item"><a href="#" class="main-nav-item-link">Customer Support</a>
					</div>
					<div class="options"></div>
				</div>
			</div>
		</nav>
		<div id="inner" class="inner">
			<div id="content" class="content"></div>
		</div>
		<div id="bottom" class="bottom">
			<textarea id="input" class="input"></textarea>
			<div id="send" class="send"></div>
		</div>
	</div>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<script src="{% static 'js/index.js' %}"></script>




</body>

</html>
